<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%-5level] %c - %msg%n" />
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="ConsoleAppender" />
        </Root>
        <!-- 필요한 경우 개별 Logger 설정 -->
        <!--
        <Logger name="com.d0iloppa" level="debug" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
        </Logger>
        -->
    </Loggers>
</Configuration>
